* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    ul {
      list-style-type: none;
      }
    border: none;

    a:visited {
      color: white;      
    }
}

:root {
  --primary-color: #111111;
  --secondary-color : #D8D8D8;
  --lighter-primary-color: #303030;
  --blackpink : #EFA7B5;
  --blackpink-vibrant : #DC4160;
  --euromillions : #EEBB05;
  --argentina : #6CACE4;
}


@font-face {
  font-family: "primetime" ;
  src: url(./images_blackpink/Primetime.ttf);
}

/* Creation de l'animation du header - effet néon clignottant */
@keyframes flicker {
  9%{
  text-shadow: 0 0 .5vh white, 0 0 .5vh white, 0 0 .5vh white, 0 0 .5vh white, 0 0 1vh white;;
  /* filter:brightness(1) */
  }
  10%{
    text-shadow:none;
   /* filter:brightness(.4); */
  }
  11%{
  text-shadow: 0 0 .5vh white, 0 0 .5vh white, 0 0 .5vh white, 0 0 .5vh white, 0 0 1vh white;;
  /* filter:brightness(1) */
  }
  12%{
    text-shadow:none;
   /* filter:brightness(.4); */
  }
  13%{
  text-shadow: 0 0 .5vh white, 0 0 .5vh white, 0 0 .5vh white, 0 0 .5vh white, 0 0 1vh white;;
  /* filter:brightness(1) */
  }
  66%{
  text-shadow: 0 0 .5vh white, 0 0 .5vh white, 0 0 .5vh white, 0 0 .5vh white, 0 0 1vh white;;
  /* filter:brightness(1) */
  }
  67%{
    text-shadow:none;
   /* filter:brightness(.4); */
  }
  75%{
    text-shadow:none;
   /* filter:brightness(.4); */
  }
  76%{
  text-shadow: 0 0 .5vh white, 0 0 .5vh white, 0 0 .5vh white, 0 0 .5vh white, 0 0 1vh white;;
  /* filter:brightness(1) */
  }
}


/* Style du header du site et NavBar */
.headerNavbar {
    object-fit: fill;
    height: 100vh;
    box-sizing: border-box;

    h1 {
      font-family: "primetime";
      text-align: center;
      letter-spacing: 10pt;
      color: var(--blackpink);
      -webkit-text-stroke: #111111 1px;
      text-shadow: 0 0 .5vh white, 0 0 .5vh white, 0 0 .5vh white, 0 0 .5vh white, 0 0 1vh white;
      animation: flicker 7s infinite;
      filter:brightness(1);
      position: relative;
    }

    nav {
      background: var(--primary-color);
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-between;
      box-sizing: border-box;
      height: 55px;
      
          .limonade {
            display: flex;
            justify-content: space-evenly;
            gap: 24px;
            align-items: center;
            padding: 0px 32px;
            max-height: fit-content;

            h2 {
              font-family: "Poiret One", serif;
              letter-spacing: 1pt;
              font-size: 20pt;
              padding: 0;
              font-weight: bold;
              color: var(--secondary-color);
            }
          }

          .responsive {
            display: none;

            input[type="checkbox"] {
              position: absolute;
              top: 18px;
              right: 24px;
              height: 32px;
              width: 32px;
              cursor: pointer;
              opacity:0;
            }

            label {
                      width: 32px;
                      height: 4px;
                      position: absolute;
                      top: 24px;
                      right: 24px;
                      border-radius: 1px;
                      background: var(--secondary-color);
                      transition: all 0.3s ease;
                      cursor: pointer;
                      /* z-index: 3; */
                  

                  &:before, &:after {
                    content: " ";
                    display: block;
                    position: relative;
                    width: 32px;
                    height: 4px;
                    border-radius: 1px;
                    transition: all 0.7s ease;
                    z-index: 1;
                  }

                  &:before {
                    bottom: 10px;
                    background: var(--secondary-color);
                    transform-origin: left top;
                  }

                  &:after {
                    top: 6px;
                    background: var(--secondary-color);
                    transform-origin: left bottom;
                  }
            }


            #menu-hamburger {
              display: none;

              &:checked {
                &~label::before{
                  transform: rotateZ(40deg);
                }
        
                &~label::after{
                  transform: rotateZ(-40deg);
                }
                &~label {
                  background-color: var(--primary-color);
                  transition: all 0.3s ease;
                }
              }
          }

          }

          .nav-link {
              padding: 0px 24px;

              ul {
                display: flex;
                justify-content: space-evenly;
                align-items: center;

                  li {
                    a {
                      display: inline-block;
                      color: var(--secondary-color);
                      font-family: "Poiret One", serif;
                      letter-spacing: 1pt;
                      font-size: 14pt;
                      font-weight: bolder;
                      padding: 16px;
                    }
                    
                    /* style du lien de la page où l'on se trouve dans la navigation */
                    a.active {
                        color: var(--blackpink);
                    }                 
                      }

                  }
                  
                }

          img {
            max-width: 30px;
            height: auto;
          }

    }
  }

/* Style de main */
main {
  background: url(./images/bubble_pattern_v3_resize.jpg) repeat fixed;
  padding-top: 32px;
  padding-bottom: 16px;

  /* Style commun à toutes les sections */
    section {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;

      /* header de section et d'article */
      header {
        display: flex;
        align-items: center;
        z-index: 1;

        h2 {
        font-family: "Poiret One", serif;
        color: var(--blackpink);
        letter-spacing: 2pt;
        font-weight: 600;
        margin: 20px;
        text-align: center;

          /* Création d'un soulignement qui est plus large que le titre */
          &:after {
            content: "";
            box-sizing: border-box;
            display: block;
            position: relative;
            top: 20px;
            left: calc(-20% / 2);
            background: var(--blackpink);
            height: 1.5px;
            width: 120%;
          }
        }

        figure {
          background: rgba(231, 231, 231, 0.4);
          border-radius: 150%;
          box-shadow: 2px 2px 0px var(--blackpink);
          transition: all 0.3s ease;          
          width: 150px;
          height: 150px;
          display: flex;
          justify-content: center;
          align-items: center;

              img {
              width: 100px;
              height: 100px;
              object-fit: cover;
              }
              
              &:hover {
                transition: all 0.3s ease;
                box-shadow: -2px 1px 0px var(--blackpink);
              }
        }
    }
        /* style commun à tous les articles */
        article {
            max-width: 1300px;                   
            font-family: "Montserrat", sans-serif;
            font-size: 12pt;

            h3 {
              font-family: "Poiret One", serif;
              text-transform: uppercase;
              letter-spacing: 6pt;
              padding: 32px 0px 8px 0px;
              text-align: center;
            }            

            p {
              padding-bottom : 8px;
            }
            
            /* Ajout d'une marge pour tous les premiers paragraphes et titres de niveau 3 */
            :is(p, h3):first-of-type {
              margin-top: 32px;
            }

            /* Style des listes des réseaux sociaux partagé */
            .reseaux {
              display: flex;
              flex-flow: row wrap;
              justify-content: space-evenly;
              align-items: center;
              margin: 24px 0px;

              a {                  
                img {
                width: 48px;
                height: 48px;
                opacity: 1;
                transition: all 0.3s ease;
              }

                &:hover {
                  img {
                    opacity: 0.5;
                    transition: all 0.3s ease;
                  }
                }
              }
            }

            /* Listes des récompenses page d'accueil */
            #awards {
              
              h3 {
                font-family: "Poiret One", serif;
                text-transform: uppercase;
                color: var(--blackpink);
                letter-spacing: 2pt;
                padding: 32px 0px 8px 0px;
                text-align: center;
                
                &:after, &:before {
                  display: inline-block;
                  content: "";
                  position: relative;
                  top: -7px;
                  box-sizing: border-box; 
                  width: 40%;
                  height: 1px;
                  background: var(--blackpink); 
                }

                &:before {
                  left: -5%;  
                }  

                &:after {
                  right: -5%;
                }
              }    

              ul {
                /* list-style: disc inside; rajout du style de la liste pour avoir les puces devant chaque item */
                text-align: justify;
                  li {
                    padding: 2px 0px;
                  }
                }
            }
            }
        }

   
      /* Section de présentation du formation du groupe sur la page d'accueil */
      #formation_groupe {
        article {
          display: flex;
          flex-flow: row nowrap;
          align-items: center;
          gap: 48px;

          img {
            min-width: 350px;
            height: 350px;
            object-fit: cover;
            border-radius: 100%;
            box-shadow: 2px 2px 8px var(--blackpink);
          }

          .content {
            display: flex;
            flex-flow: column nowrap;
          }
        }
        
      }

      /* Style de section présentant chaque membre avec leur photo */
      .article_membres {
        justify-content: center;
        justify-self: center;
        align-items: center;

                article {
                  figure {
                    transition: all 0.3s ease;
                    background: var(--blackpink);

                    &:hover {
                          transition: all 0.3s ease;
                    }

                    figcaption {
                      position: relative;
                      width: 100%;
                      text-align: center;
                      transition: all 0.3s ease;

                      a {
                        width: 100%;
                        vertical-align: center;
                        font-family: "primetime";
                        font-size: 24pt;
                        letter-spacing: 5pt;
                        text-transform: uppercase;
                        border-radius: 16px;
                        transition: all 0.3s ease;
                        z-index:2;                    
                      }                     
                    }                             
                  }
        }
      }

      #galerie {

        article {
        margin-top: 32px;
        display: flex;
        row-gap: 32px;
        column-gap: 16px;
        align-items: center;

        flex-flow: row wrap;
        
        img {
          max-width: 300px;
          height: 300px;
          object-fit: cover;
          border-radius: 4px;
        }
      }
      }

      iframe {
        width: 45%;
        height: 315px;
      }

      section:last-of-type {
        padding-bottom: 24px;
      }
    
    section:nth-of-type(2n+1) {
      article {
          h3 {

            color: var(--blackpink-vibrant);
          }
      }
    }
  /*Style des sections paires */
    section:nth-of-type(2n+2) {
          background: linear-gradient(0.45turn, var(--primary-color), var(--lighter-primary-color));
          color: var(--secondary-color);
          box-shadow: 0px 2px 4px var(--blackpink);

          article {
            h3 {
  
              color: var(--blackpink);
            }
        }
    }


    }
/* Fin style de main */

/* Footer */
footer {
  background: var(--lighter-primary-color);
  color: var(--secondary-color);
  font-family: "Poiret One", serif;
  letter-spacing: 1pt;
  font-size: 12pt;
  padding: 24px 32px;

      .planSite {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }

      article {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;

        a {
          color: var(--secondary-color);
          font-family: "Poiret One", serif;
          letter-spacing: 1pt;
          font-size: 14pt;
        }

        a:hover {
          color: var(--blackpink-vibrant);
        }
      }  

      /* article:first-of-type {
      } */

      .menuFooter {
      }

      .menuBlackpink {
        order: -1;
        font-variant: small-caps;
      }

      h2 {
        padding-bottom: 8px;
      }
      p {
        text-align: center;
        padding-top: 24px;
      }
}
/* Fin footer */


/* Ecran d'ordinateur 1112*/
@media screen and (min-width: 1200px) {
  
  .headerNavbar {
      h1 {
      font-size: 112pt;
      top: 45vh;
    }                                                                        
  }
}

/* Ecran d'ordinateur 983*/
@media screen and (min-width: 991px) and (max-width: 1199px) {

  .headerNavbar {
    h1 {
      font-size: 72pt;
      top: 45vh;
    }    
  }
  
}

@media screen and (min-width: 991px)  {

  .headerNavbar {
    background: url(./images_blackpink/blackpink9.jpg) 50% 20% no-repeat fixed;
    background-size: cover;

      nav {
        position: fixed;
        z-index: 2;
        width: 100vw;

        ul {

          li {
            a {
              transition: color .2s ease;
              line-height: 20px;

                &::before, &::after {
                    content: '';
                    display: block;
                    position: relative;
                    width: 0px;
                    right: 0px;
                    /* height: 1px; */
                    height: 2px;
                  }

                  &::after {
                    transition: width .25s cubic-bezier(0.51, 0.18, 0, 0.88) .1s;
                    background: var(--blackpink);
                    /* top: 29px; */
                    top: 8px;
                    z-index: 2;
                  }

                  &::before {
                    transition: width .2s cubic-bezier(0.29, 0.18, 0.26, 0.83);
                    background: white;
                    /* top: 8px; */
                    top: 30px;
                    z-index: 2;
                  }

                  &:hover {
                    color: var(--blackpink);
                     &::before, &::after {
                          width: 100%;
                          box-sizing: border-box;
                      }
                }
            }

            a.active {
              &:hover {
                color: var(--blackpink-vibrant);       
              }
              &:before {
                width: 100%;
                background: var(--blackpink);
              }
            } 
          }
        }

          .responsive {
            input[type="checkbox"] {
              display: none;
            }

            label {
              display: none;    
            }
          }

          .nav-link {
                ul {
                    li a {
                      margin-right: 24px;
                    }
              }
          }
    }
  }

  main {

    /* Section de présentation du formation du groupe sur la page d'accueil */
    #formation_groupe {
      padding-top: 0px;
          article {
              img {
                min-width: 350px;
                height: 350px;
                transition: all 0.3s ease;

                &:hover {
                  transform: scale(1.5);
                  transition: all 0.3s ease;
                }
              }
          }
    }

    section {
      padding: 48px 32px;

      article {
        z-index: 1;        
        width: 80%;
        padding: 0px 32px;

        header {
          flex-flow: row nowrap;
          justify-content: space-around;

          h2 {
            font-size: 24pt;
          }       
        }


        /* Listes des récompenses page d'accueil */
        #awards {
          h3 {
            &:first-of-type {
              margin-top: 0px!important;
            }
          }

          column-count: 2;
          column-gap: 48px;
          text-align: left;
        }
      }
    }

        .article_membres {
            display: flex;
            flex-flow: row wrap;
            row-gap: 64px;

            article {
              width: 30%;
              height: 80vh;
              transition: all 0.3s ease;

              figure {      
                width: 100%;
                height: 100%;
                border-radius: 8px;

                figcaption {
                  bottom: 80.5vh;
                  height: 80vh;
                  transition: all 0.3s ease;

                  a {
                    color: var(--blackpink);
                    opacity: 0;
                    display: inline-block;
                    line-height: 80vh;                
                    backdrop-filter: blur(3px);

                    &:hover {
                      opacity: 1;
                      transition: all 0.3s ease;

                    }
                  }

                  &:hover {
                      background: rgba(0,0,0,0.6);
                      border-radius: 16px;
                    }

                  
                  
                }
                

                img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                  border-radius: 16px;
                }
              }
            }
        }
        

        .video-liste {
          display: flex;
          flex-flow: row wrap;
          row-gap: 32px;
          justify-content: space-around;
          align-items: center;
          margin: 32px 0px;
        }
    
    /* Création d'une section avec un fond video */
    .video-wrapper {
      position: absolute;
      margin-top: -48px;    
      width: 100%;
      height: 545px;
      object-fit: contain;
      overflow: hidden;
      filter: brightness(20%); /*gestion de la luminosité de la vidéo*/

        video {
          opacity: 0.7;
          position: absolute;
          top: 0;
          left: 0;
          object-fit: cover;
          width: 100%;
          height: 100%;
          z-index: 0;
        }

    }

    #galerie {
      
        article {
        justify-content: space-between;
        z-index: 1;
       
        img {
            transition: all 0.3s ease;

            &:hover {
            transition: all 0.3s ease;
            width: 100%;
            height: 100%;
            object-fit: contain;
            border-radius: 0px;
            transform: scale(1.3);
            box-shadow: 0px 0px 8px var(--blackpink-vibrant);
          }
        }
      }
      
    }

    section:nth-of-type(2n+1) { 
      article {
        header {
          flex-direction: row-reverse;
        }
      }
    }
  }
}
 

/* Ecran de tablette et téléphone 1111px */
@media screen and (max-width: 991px) {

  .headerNavbar {
    background: url(./images_blackpink/blackpink2.jpg) 50% 0% no-repeat;
    background-size: cover;
    /* object-fit: fill; */
    height: 100vh;
    box-sizing: border-box;

    h1 {
      font-size: 40pt;
      top: 55vh;
    }

    nav {
          .limonade {
            h2 {
            }
          }

          .responsive {
            display: block;
                input[type="checkbox"] {
                  display: block;
                  z-index:1;
                }

                label {
                  display: block;
                  z-index: 2;
                }

                #menu-hamburger {
                  display: block;
              } 
          }

          .nav-link {
                  width: 100%;
                  height: 100vh;
                  position: absolute;
                  backdrop-filter: blur(3px);
                  top: -120vh;
                  left: 0px;
                  z-index: 1;
                  background: rgba(0,0,0,0.7);

                  ul {
                    flex-flow: column nowrap;
                    justify-content: space-evenly;
                    align-items: center;
                    width: 100%;
                    height: 100%;

                    li {
                      font-size: 5em;
                      font-weight: bolder;
                    }

                    li a {
                      color: var(--blackpink);
                      font-size: 20pt;
                      font-variant: small-caps;
                      -webkit-text-stroke: #111111 solid 1px;
                    }

                    a.active {
                      border-bottom: 1px solid var(--blackpink);
                    }
                }    
          }

          .mobile-menu {
            margin-right: 0;
            top: 0px;
            right: 0px;
            padding: 0px;
        }
    }
  }

  main {

    /* Section de présentation du formation du groupe sur la page d'accueil */
    section#formation_groupe {
      article {
        display: flex;
        flex-flow: column nowrap;
        gap: 24px;
          img {
            min-width: 250px;
            height: 250px;
          }
      
        }
      }

    section {
      padding: 16px 32px;

      article {
        width: 100%;
        text-align: center;

        header {
          flex-flow: column nowrap;
          justify-content: center;

          h2 {
            font-size: 18pt;
          }
        }

        /* Listes des récompenses page d'accueil */
        #awards {
          column-count: 1;
          column-gap: 32px;

          h3 {
            margin-top: 0px;

            &:after, &:before {
              display: none;
            }
          }
        }
        
      }
    }

    .article_membres {
      gap: 32px;

      figure {
        width: 250px;
        height: 250px;
        border-radius: 250px;
        object-fit: contain;

        figcaption {
          height: 250px;
          width: 250px;
          top: -253px;          
          background: rgba(0,0,0,0.2);
          border-radius: 250px;    
          
          a {
            backdrop-filter: blur(1px);
            transition: all 0.3s ease;
            line-height: 250px;
            display: inline-block;
            top: 0%;
            position: relative;
            color: var(--secondary-color);                
          }

          &:hover {
            background: rgba(0,0,0,0.6);

            a {
              display: block;
              opacity: 1;
              transition: all 0.3s ease;
            }
          }
        }

        img {
          width: 250px;
          height: 250px;
          object-fit: cover;
          border-radius: 16px;
          border-radius: 100%;
        }
      }
      
    }

    .video-wrapper {display: none;}

    #galerie {
      article {
        justify-content: center;
        }
    }
  }

  footer {
    .planSite {
    flex-flow: column nowrap;
    justify-content: center;
    align-content: space-around;

    .menuFooter {
      padding-bottom: 24px;
    }
    .menuBlackpink, .menuEuroMillions, .menuScaloneta {
      padding-bottom: 8px;
    }
  }
  
}
}